apiVersion: apps/v1
kind: Deployment
metadata:
  name: lbcf-controller
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      lbcf.tkestack.io/component: lbcf-controller
  template:
    metadata:
      labels:
        lbcf.tkestack.io/component: lbcf-controller
    spec:
      priorityClassName: "system-node-critical"
      serviceAccountName: lbcf-controller
      containers:
        - name: controller
          args:
            - run
          image: ${IMAGE_NAME}
          imagePullPolicy: Always
          ports:
            - containerPort: 443
              name: admit-server
          volumeMounts:
            - name: server-tls
              mountPath: /etc/lbcf
      volumes:
        - name: server-tls
          secret:
            secretName: lbcf-controller


